//Media
$hd: 1920px;
$xl: 1440px;
$l: 1280px;
$tablet: 1024px;
$md: 768px;
$sm: 576px;
$s: 320px;

//Colors
$color-black: #000000;
$color-white: #ffffff;

$color-primary: #2f2f2f;
$color-secondary: #00a2f2;
$color-grey: #e5e5e5;

//Fonts
$font-primary: "Proxima-Regular", sans-serif;
$font-secondary: "fontello";

//Grid
$grid-unit: 8px;

//Animation
$transition: .2s ease-in-out;



