$path: '/fonts/';

@font-face {
  font-family: "Proxima-Regular";
  font-style: normal;
  font-weight: 400;
  src: url($path + 'ProximaNova-Regular.woff') format("woff"),
       url($path + 'ProximaNova-Regular.ttf') format("truetype");
}

@font-face {
  font-family: "Proxima-Regular";
  font-style: normal;
  font-weight: 700;
  src: url($path + 'ProximaNova-Bold.woff') format("woff"),
    url($path + 'ProximaNova-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Dashicons";
  font-style: normal;
  font-weight: 400;
  src: url($path + 'dashicons.ttf') format("truetype");
}

